*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

#container_apresentacao{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}
#container_apresentacao h1{
    position: absolute;
    z-index: 1;
    color: rgb(207, 209, 201);

}
#container_apresentacao .conteudo{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 95%;
    height: 93%;
    border-radius: 5px;
    backdrop-filter: blur(2px) brightness(0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
#container_apresentacao #fotografias{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    transition: transform 1s ease-in-out;
    filter: blur(3px) brightness(0.8);
}
#container_apresentacao #fotografias img{
    height: 100%;
    width: 100%;
    
}
#container_apresentacao #localizacao{
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    padding: 5px;
    border-radius: 8px;
    z-index: 1;
    justify-content: center;
    gap: 10px;
    backdrop-filter: blur(2px);
}
#container_apresentacao #localizacao .bola{
    border: 1px solid rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: background-color 1s;
    cursor: pointer;
}
#container_apresentacao #localizacao .bola.ap{
    background-color: rgba(216, 216, 216, 0.329);
    transition: background-color 1s;
}







.container-slider{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10px;
}

.container-imagens{
    position: relative;
    display: flex;
    height: 400px;
    width: 600px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s ;
}
.container-imagens:hover{
    transform: scale(1.01);
    box-shadow:  0 0 43px 1px rgb(0 0 0 / 31%);
    transition: transform 0.2s, box-shadow 0.2s ;
}
.slider{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}
.on{
    opacity: 1;
}





#prev-button, #next-button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}
#prev-button{
    transform: rotate(180deg);
}
#prev-button img, #next-button img{
    width: 100%;
}

.container-slider2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-imagens2{
    display: grid;
    grid-template: 1fr 2fr / 1fr 2fr 1fr;
    height: 400px;
    width: 600px;
    gap: 10px;
    border: 1px solid black;
}
.imgs{
    width: 100%;
    height: 100%;
    opacity: 0;
    grid-area: 1 / 2 / span 1 / span 1;
    transition:  1s;
}
.um{
    grid-area: 2 / 2 / span 1 / span 1;
    transition: 1s;
    opacity: 1;
}
.dois{
    grid-area: 2 / 3 / span 1 / span 1;
    transition: opacity 1s ,grid-area 1s;
    opacity: 1;
}
.tres{
    grid-area: 2 / 1 / span 1 / span 1;
    transition: 1s;
    opacity: 1;
}

/* --------------------------------------------------- */

#prev-button3, #next-button3{
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}
#prev-button3{
    transform: rotate(180deg);
}
#prev-button3 img, #next-button3 img{
    width: 100%;
}
#navegacao{
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    gap: 10px;
}

.botao{
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.botao.on{
    background-color: greenyellow;
    transition: 0.5s;
}
.botao:hover{
    background-color: rgba(241, 237, 230, 0.521);
    
    border-color: rgb(255, 0, 0);
    transition: 0.5s;
}

.container-slider3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10px;
}

.container-imagens3{
    position: relative;
    display: flex;
    height: 400px;
    width: 600px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s ;
}
.container-imagens3:hover{
    transform: scale(1.01);
    box-shadow:  0 0 43px 1px rgb(0 0 0 / 31%);
    transition: transform 0.2s, box-shadow 0.2s ;
}
.slider3{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}
.on{
    opacity: 1;
}