*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.container-slider{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10px;
}

.container-imagens{
    position: relative;
    display: flex;
    height: 400px;
    width: 600px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s ;
}
.container-imagens:hover{
    transform: scale(1.01);
    box-shadow:  0 0 43px 1px rgb(0 0 0 / 31%);
    transition: transform 0.2s, box-shadow 0.2s ;
}
.slider{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.2s;
}
.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}
#prev-button{
    transform: rotate(180deg);
}
#prev-button img, #next-button img{
    width: 100%;
}

.container-slider2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-imagens2{
    display: grid;
    grid-template: 1fr 2fr / 1fr 2fr 1fr;
    height: 400px;
    width: 600px;
    gap: 10px;
    border: 1px solid black;
}
.imgs{
    width: 100%;
    height: 100%;
    opacity: 0;
    grid-area: 1 / 2 / span 1 / span 1;
    transition: opacity 0.2s, grid-area 1s;
}
.um{
    grid-area: 2 / 2 / span 1 / span 1;
    transition: grid-area 1s;
    opacity: 1;
}
.dois{
    grid-area: 2 / 3 / span 1 / span 1;
    transition: opacity 1s ,grid-area 1s;
    opacity: 1;
}
.tres{
    grid-area: 2 / 1 / span 1 / span 1;
    transition: opacity 1s, grid-area 1s;
    opacity: 1;
}

